body.home.overflow-hidden {
    background: #fff;
}

.home-header-documentacao {
    background: #09855bd8;
    display: block;
    margin: 0;
    padding: 25px 50px 25px 50px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.home-header-documentacao img {
    width: 40%;
    height: 40%;
    margin-top: 30px 100px;
}

.container{
    position: relative;
}

nav{
    position:absolute;
    left: 25px;
    width: 300px;
}

div .menu-navega{
    width: 350px ;
    padding: 50px 5px 5px 5px;
}

nav ul {
    background-color: #09855bd8;
}

nav ul li a:hover {
    background-color: #57af92d8;
}

nav ul li a {
    font-size: 20px;
    font-weight:normal;
    cursor: pointer;
    display: block;
    text-decoration: none;
    padding: 10px 50px 10px 30px;
    color: #fff;
}

nav ul li {
    list-style: none;
    margin: 2px 0;
}

.navigation img{
    float:left;
    width: 30px;
    padding: 10px 15px 5px 10px;
}

section{
    margin-left: 400px;
    padding: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/*menu*/
.navigation {
    width: 300px;
}

.mainmenu, .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
}


.mainmenu a {
    display: block;
    background-color: #09855bd8;
    text-decoration: none;
    padding: 10px;
    color: #fff;
}


.mainmenu a:hover {
    background-color: #000;
}

.mainmenu li:hover .submenu {
    display: block;
    max-height: 200px;
}


  
.submenu a {
    background-color: #09855bd8;
}


.submenu a:hover {
    background-color: #666;
}


.submenu {
    overflow: hidden;
    max-height: 0;
    -webkit-mask-position-y: all 0.5s ease-out;
}
  
@media screen and (max-width:640px){
    .card{
        width: 100%;
    }
    .menu-home{
        width: 100%;
    }
    .footer{
        width: 100%;
    }
    .home-sobre{
        width: 100%;
    }
    .app-image{
        width: 100%;
    }
    .app-image-sobre{
        width: 100%;
    }
    .bem-vindos{
        width: 100%;
    }
    .card-body.sobre{
        width: 100%;
    }
    .card-image{
        width: 100%;
    }
    .card-image-description{
        width: 100%;
    }
    .card-image-description-sobre{
        width: 100%;
    }
    .card-image-sobre{
        width: 100%;
    }
    .card-image-titulo{
        width: 100%;
    }
    .home-header-documentacao{
        width: 100%;
    }
    .mainmenu{
        width: 100%;
    }
    .menu-navega{
        width: 100%;
    }
    .navigation{
        width: 100%;
    }
    .submenu{
        width: 100%;
    }
    .container{
        width: 100%;
    }
    .div{
        width: 100%;
    }
    .h1{
        font-size: 27px;
    }
    .h2{
        font-size: 27px;
    }
    .h3{
        font-size: 27px;
    }
    h4{
        font-size: 27px;
    }
}

@media screen and(min-width:940px){
    .card{
        width: 30%;
    }
    .card-body.sobre{
        width: 30%;
    }
    .card-image{
        width: 30%;
    }
    .card-image-description{
        width: 30%;
    }
    .card-image-description-sobre{
        width: 30%;
    }
    .card-image-sobre{
        width: 30%;
    }
    .card-image-titulo{
        width: 30%;
    }
    .menu-home{
        width: 30%;
    }
    .app-image{
        width: 30%;
    }
    .app-image-sobre{
        width: 30%;
    }
    .bem-vindos{
        width: 30%;
    }
    .home-header{
        width: 30%;
    }
    .footer{
        width: 30%;
    }
    .home-sobre{
        width: 30%;
    }
    .div{
        width: 30%;
    }
    .container{
        width: 30%;
    }
    .home-header-documentacao{
        width: 30%;
    }
    .mainmenu{
        width: 30%;
    }
    .menu-navega{
        width: 30%;
    }
    .navigation{
        width: 30%;
    }
    .submenu{
        width: 30%;
    }
}



.card .card-body.sobre .card-image .card-image-description .card-image-description-sobre .card-image-sobre
.card-image-titulo .container .div .footer .h1 .h2 .h3 .home-header .home-header-documentacao .home-sobre
.mainmenu .menu-home .menu-navega .navigation .submenu .app-image .app-image-sobre .bem-vindos {
    overflow: hidden;
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}

  

  







