.bem-vindos{
    background: #FFF;
    display: block;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    overflow: hidden;
}

.menu-home {
    background: #1c1c1c;
    display: block;
    margin: 0;
    padding: 7px 0px 7px 1000px;
    overflow: hidden;
    align-self: flex-end;
    color: #FFF;
    text-overflow: hidden;
    text-decoration-color: #FFF;
}

.menu-home a,
.menu-home a:visited {
    margin-left: 20px;
    color: #FFF;
    font-size: 12pt;
    text-decoration: none;
    overflow:hidden;
    text-overflow: hidden;
    text-decoration-color: #FFF;
}

.menu-home a:hover {
    background: #000;
    color: #0AACCC;
}

.home-header {
    background: #09855bd8;
    display: 60%;
    margin: 0;
    flex-direction: column;
    align-items: center;
    color: #FFF;
    overflow: hidden;
}

.home-header img {
    width: 50%;
    height: 50%;
    overflow: hidden;
}

.card-image-titulo img{
    margin: auto 150px;
    overflow: hidden;
}

.home-sobre h1{
    max-width: 400px;
    text-align: center;
    padding: 40px 5px 3px 100px;
    overflow: hidden;
}

.card-image-sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    overflow: hidden;
}

.card-image-sobre img {
    overflow: auto;
    zoom: 1;
}
.card-image-description-sobre {
    flex: 2;
    display:flex;
    justify-content: center;
    overflow: hidden;
}
.card-image-sobre p {
  text-align: center;
  font-size: 13pt;
    overflow: hidden;
}

.card-image p span.destaque {
  color: #008299;
  font-weight: bold;
    overflow: hidden;
}

.app-image-sobre {
    max-width: 1000px;
    overflow: hidden;
}


#home .card {
    max-width: 98%;
    margin: 10px;
    font-size: 12pt;
    overflow: hidden;
}

#home .card h1 {
    color: #008299;
    overflow: hidden;
}

#home .card .card-body.sobre {
    padding: 100px 100px 0 100px;
    overflow: hidden;
}

.app-image {
    max-width: 50%;
    overflow: hidden;
}

.card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    overflow: hidden;
}

.card-image img {
  margin: auto 120px;
  flex: 1;
    overflow: hidden;
}

.card-image-description {
    flex: 2;
    display:flex;
    justify-content: center;
    overflow: hidden;
}
.card-image p {
  max-width: 400px;
  /* padding: 20px; */
  text-align: center;
  font-size: 16pt;
    overflow: hidden;
}

.card-image p span.destaque {
  color: #008299;
  font-weight: bold;
    overflow: hidden;
}

.footer {
    float: left;
    width: 100%;
    text-align: center;
    background-color:#09855bd8;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #FFF;
    overflow: hidden;
  }

@media screen and (max-width:640px){
    .card{
        width: 100%;
    }
    .menu-home{
        width: 100%;
    }
    .footer{
        width: 100%;
    }
    .home-sobre{
        width: 100%;
    }
    .app-image{
        width: 100%;
    }
    .app-image-sobre{
        width: 100%;
    }
    .bem-vindos{
        width: 100%;
    }
    .card-body.sobre{
        width: 100%;
    }
    .card-image{
        width: 100%;
    }
    .card-image-description{
        width: 100%;
    }
    .card-image-description-sobre{
        width: 100%;
    }
    .card-image-sobre{
        width: 100%;
    }
    .card-image-titulo{
        width: 100%;
    }
    .div{
        width: 100%;
    }
    .h1{
        font-size: 27px;
    }
    .h2{
        font-size: 27px;
    }
    .h3{
        font-size: 27px;
    }
    h4{
        font-size: 27px;
    }
    .body{
        width: 100%;
    }
}

@media screen and(min-width:940px){
    .card{
        width: 30%;
    }
    .card-body.sobre{
        width: 30%;
    }
    .card-image{
        width: 30%;
    }
    .card-image-description{
        width: 30%;
    }
    .card-image-description-sobre{
        width: 30%;
    }
    .card-image-sobre{
        width: 30%;
    }
    .card-image-titulo{
        width: 30%;
    }
    .menu-home{
        width: 30%;
    }
    .app-image{
        width: 30%;
    }
    .app-image-sobre{
        width: 30%;
    }
    .bem-vindos{
        width: 30%;
    }
    .home-header{
        width: 30%;
    }
    .footer{
        width: 30%;
    }
    .home-sobre{
        width: 30%;
    }
    .div{
        width: 30%;
    }
    .boby{
        width: 30%;
    }
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}

boby{
    flex-wrap: wrap;
}

.home-header{
    flex-wrap: wrap;
}
